<div class="container-fluid p-5 bg-info text-white text-center">
  <h1>Welcome to Myblog</h1>
  <p>Share your thoughts and ideas</p>
</div>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= link_to 'Myblog', blogs_path %></h1>
        <p class="lead text-muted">You can create one or more blogs, and post out articles in each blog.</p>
        <p>
          <%= link_to 'Sign up', new_user_registration_path, class:"btn btn-secondary" %>
          <%= link_to 'Sign in', new_user_session_path, class:"btn btn-primary my-2" %>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class:"btn btn-outline-secondary my-2" %>
        </p>
      </div>
    </div>
  </section>
</main>
